.vscode
.idea
.mypy_cache
volumes
node_modules
env
php/vendor/
pinnacle_platform/Howto_Videos
jup/ppenv
backend/app/error.log
backend/app/warnings.log
frontend/app/package-lock.json
docker-stack.yml
.DS_Store
~$DayTraderRobots.xlsx
.~*
*.log
frontend/app/build/
traefik.log
**/bot.sql.gz
bot.sql
hungdev.sh
.env.dev
.env.prod
.env.stage
.env
venv/
robotlab.tar
robotlab.sql.gz
robotlab.sql
**/*.tar
**/*.sql
.env.stage
